nav{
    border-bottom: 1px solid white;
    background: rgba(255, 255, 255, 0.10);
    backdrop-filter: blur(20px);
    .container{
        display: flex;
        justify-content: space-between;
        align-items: center;
        a{
            color: white;
        }

        .nav_list{
            display: flex;
            align-items: center;
            gap: 108px;

            a{
                font-size: 22px;
            }
            .logo{
                font-size: 25px;
                border-right: 1px solid #fff;
                padding: 10px 62px 10px 0;
                span{
                    font-weight: 700;
                }
            }
        }
        .nav_links{
            display: flex;
            align-items: center;
            gap: 30px;

            a:first-child{
                border-left: 1px solid white;
                border-right: 1px solid white;
                padding: 16px 30px 16px;
            }
        }
    }
}